rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Los usuarios solo pueden leer y escribir en su propio documento de usuario
    // y en las sub-colecciones anidadas dentro de él.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
